
.myButton {
    /* box-shadow: 0px 1px 0px 0px #f0f7fa; */
    /* change the shadow in the raport with photo  */
	background-color:#000b4c;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
    
    
}
.jugartext{
    color:#ffffff ;
}
.cardcarousel {
    margin-top: 5vh;
};