/*
#Board{
  cursor: url(./components/images/cursor.png)
}
*/

.team-logo{
  width: 85px;
  height: 85px;
  background-color: red;
  display: inline-block;
  text-align: center;
}

#Image {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 86px;
  grid-auto-rows: 20%;
  grid-template-areas: 
    "a a a a b"
    "a a a a b"
    "c c c c d"
    "c c c c d"
    "c c c c d";
  align-items: start;
  position: relative;
}

#squarecontainer {
  width: 100%;
}

