 .footer-wrapper {
    background-color: #001c4c;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-height: none;
    text-align: center;
} 

.footer-logo-img {
    margin: 0 auto;
    margin-top: 35px;
    width: 150px;  
    }

.footer-item-link {
        font-family: Arial,Helvetica,sans-serif;
        color: #fff;
        font-size: 12px;
        font-size: .75rem;
        line-height: 25px;
        line-height: 1.563rem;
        text-decoration: none;
}                  

.footer-logo-url {
        width: 25px;
        height: 45px;
        left: 35px;
        background-color: transparent;
        padding-top: 15px;     
    }


/* .footer-container {
        min-height: 160px;
    } */
            

.footer-copyright {
    margin-top: 5px;
    font-family: Arial,Helvetica,sans-serif;
    color: #7184a3;
    font-size: 11px;
    font-size: .688rem;
    line-height: 12px;
    line-height: .75rem;
}

 .footer-list {
    list-style:none;
    align-items: center;
    margin-top: 25px;
    margin-right: 23px;
} 

.footer-item {
    display: inline;
    font-size: 12px;
    text-align: center;
    margin-left: 30px;
    justify-content: center;


}

.bar {
    color: grey;
    
}

.img-responsive1 {
    margin-top: 18%;
}