.userprofile {
    width: 200px;
    height: 200px;
    border: 2px solid black;

}
.avatar {
    width: 70px;
    height: 70px;
    border-radius: 25%;
}
.boxflex {
    display: flex;
    justify-content: center;
}
.textuser {
    text-align: left;
    font-size: 1em;
}


.buttonModal {
  background-color:#000b4c;
  border-radius:6px;
  cursor:pointer;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
  color: white;



}

.userButtons {
  display: flex;
  justify-content: flex-end;


}

.buttonLog {

  display:inline-block;
  cursor:pointer;
  font-size:15px;
  color: white;
  height: 40px;
  border: 2px solid white;
  background-color: #000b4c;
  padding: 6px 6px;
  vertical-align: center;
  margin-right: 3px;


}

.titleProfile {
  font-family: 'Neuton', serif;
  color: #466996;

}

.centerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.buttonCloseModal {
  background-color: #466996 !important;
  border: #466996 !important;
}
